
.App {
    text-align: center;
    background-image: url(assets/background/darkBackgroud.jpg);
    background-size: cover;

    background-position: center;

    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;


}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.books_parent_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 86%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    width: 100%;
}

.page {
    padding: 10px;
    /*margin:10px;*/
    /*border-bottom: 0.1rem solid rgba(245, 245, 245, 0.73);*/
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    height: 40px;
    border-left: 0.1rem solid rgba(245, 245, 245, 0.73);
    border-right: 0.1rem solid rgba(245, 245, 245, 0.73);


}

.page_previous{
    text-decoration: none;
}
.page_next{
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;

}

.active {
    border: 1px solid rgba(0, 129, 255, 0.61);
    font-weight: bold;
    height: 45px;
    color: mediumpurple;
}

.previous {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none ;
}

.break {
    padding: 10px;
}

.next {
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.pagnationContainer {
    /*background-color: rgba(75, 85, 55, 0.45);*/
    backdrop-filter: blur(12px);
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin-left: 600px;
    border-radius: 9px;
    margin-top: 15px;

}

